
@model Hometown_Application.ViewModel.CreateStaffViewModel

@{
    ViewData["Title"] = "Create Staff Profile";
}

<a asp-controller="CreateStaff" asp-action="StaffList" class="btn btn-secondary">Staff List</a>

<h2>@ViewData["Title"]</h2>
<form asp-action="CreateStaff" method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input asp-for="FirstName" class="form-control" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input asp-for="LastName" class="form-control" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Position" class="control-label">Position</label>
        <input asp-for="Position" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="HireDate" class="control-label">Hire Date</label>
        <input asp-for="HireDate" type="date" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Salary" class="control-label">Salary</label>
        <input asp-for="Salary" type="number" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Create Staff</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
