@using Hometown_Application.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Dashboard</h1>

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <h3>Admin Dashboard</h3>
        <div class="btn-group mb-3" role="group">
            <a asp-controller="UserManagement" asp-action="Index" class="btn btn-secondary">User Management</a>
            <a asp-controller="Facility" asp-action="Index" class="btn btn-primary">Facility Management</a>
            <a asp-controller="Reservation" asp-action="ManageReservations" class="btn btn-primary">Reservation Management</a>
        </div>
    }
    else if (User.IsInRole("Staff"))
    {
        <h3>Staff Dashboard</h3>
        <!-- Add staff-specific links or content here -->
        <div class="btn-group mb-3" role="group">
            <a asp-controller="Reservation" asp-action="ManageReservations" class="btn btn-primary">Reservation Management</a>
        </div>
    }

    <div class="btn-group mb-3" role="group">
        <a asp-controller="Reservation" asp-action="AvailableFacilities" class="btn btn-primary">Facility</a>
        <a asp-controller="Reservation" asp-action="ReservationStatusReport" class="btn btn-secondary">My Reservations</a>
        <a asp-controller="Contact" asp-action="Index" class="btn btn-secondary">View Contacts</a>
        <a asp-controller="Event" asp-action="Index" class="btn btn-secondary">Calendar</a>
        <a asp-controller="Document" asp-action="FileDownload" class="btn btn-secondary">Files</a>
        <a asp-controller="FeedbackComplaint" asp-action="Index" class="btn btn-secondary">Issues</a>
    </div>
}
else
{
    <p>Please sign in to access the dashboard.</p>
}