@using Hometown_Application.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Dashboard</h1>

@{  if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
    <h3>Admin Dashboard</h3>
        <a asp-controller="UserManagement" asp-action="Index" class="btn btn-secondary">User Management</a>
    }

    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Staff"))
    {
        <h3>Staff Dashboard</h3>
    }

    <a asp-controller="Event" asp-action="Index" class="btn btn-secondary">Calendar</a>


};